.sidebar .sidebar-wrapper, .bootstrap-navbar .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 75px;
    background-color: #1abb9c;
}